/* * {
    outline: 1px solid red;
} */

#bookform, #title, #button{
    display: flex;
    justify-content: center;
}

input {
    display: inline-block;
    padding: 0 16px 0 12px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
    :focus {
            border-color: #1b96ff;
            color: var(--sds-c-input-text-color-focus);
            box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
            }
}

button {     
    display: inline-block;
    justify-content: center;
    margin-top: 25px;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #0070d2;
    border-radius: 0.25rem;
    border: 1px solid #0070d2;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    :hover {
            background-color: #005fb2;  
            border-color: #005fb2;
        }                
}

container {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 500px 500px;
    column-gap: 10px;
    row-gap: 10px;
}

container > div {
    display: flex;
    justify-content: center;
}

.bookCard {
    position: relative;
    font-size: 30px;
    white-space: pre-wrap;
    outline: solid 1px black;
    margin-bottom: 1px;
    align-items: center;
    text-align: center;
}

.deleteButton {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
